

# Minecratft
public net.minecraft.client.Minecraft field_71428_T # timer

# TextureMap
public net.minecraft.client.renderer.texture.TextureMap field_94249_f # missingImage

# Block
public net.minecraft.block.Block func_149641_N()Ljava/lang/String; # getTextureName

# ContainerWorkbench
public net.minecraft.inventory.ContainerWorkbench field_75164_h # posX
public net.minecraft.inventory.ContainerWorkbench field_75165_i # posY
public net.minecraft.inventory.ContainerWorkbench field_75163_j # posZ

#ItemTool
public net.minecraft.item.ItemTool field_77865_bY # damageVsEntity

#NBTTagList
public net.minecraft.nbt.NBTTagList field_74747_a # tagList

#PlayerController
public net.minecraft.client.multiplayer.PlayerControllerMP field_78779_k # currentGameType

public net.minecraft.inventory.InventoryCrafting field_70465_c #eventHandler
public net.minecraft.entity.item.EntityItem field_70292_b #age
public-f net.minecraft.world.World field_73011_w #provider
public net.minecraft.client.particle.Particle field_190017_n #noClip
public net.minecraft.util.FoodStats field_75126_c #foodExhaustionLevel
public net.minecraft.client.multiplayer.PlayerControllerMP field_78774_b #connection
public net.minecraft.client.renderer.EntityRenderer field_78496_H #smoothCamYaw
public net.minecraft.client.renderer.EntityRenderer field_78497_I #smoothCamPitch
public net.minecraft.client.renderer.EntityRenderer field_78498_J #smoothCamFilterX
public net.minecraft.client.renderer.EntityRenderer field_78499_K #smoothCamFilterY
public net.minecraft.client.renderer.EntityRenderer field_78492_L #smoothCamPartialTicks
public net.minecraft.client.renderer.RenderGlobal func_180448_r()V #renderEndSky
public net.minecraft.client.renderer.RenderGlobal func_184382_g()I #getRenderedChunks
